.container {
  margin: 40px 50px 40px 50px;
  width: 85%;
  font-family: "Rubik", sans-serif;
  line-height: 1.8;
  color: #959595;
  border: 1px solid black;
}

h4 {
  margin: 50px;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #51DDFC;
  font-weight: bold;
}

input {
  display: block;
  width: 95%;
  border-bottom: 3px solid #58E1C1;
  box-shadow: none;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 25px;
  margin-left: 50px;
  margin-bottom: 10px;
}

label {
  visibility: hidden;
}

input:focus {
  outline: none;
  box-shadow: none;
}

button {
  width: 95%;
  background-color: #51DDFC;
  border: none;
  border-radius: 5px;
  height: 40px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

img {
  display: block;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

#images {
  margin-left: 50px;
  text-align: left;
  font-weight: normal;
}

.img--frame {
  border: 1px solid #959595;
  padding: 15px;
  width: 88%;
}

.btn--success {
  background-color: #63CC82;
}

.btn--error {
  background-color: #E4757A;
}

.btn--warning {
  background-color: #FD7856;
}

.btn--info {
  background-color: #927BC1;
}

.grid__row .grid__col--12 button {
  margin-left: 50px;
  margin-right: 50px;
  width: 95%;
}

::placeholder {
  margin: 5px;
  font-weight: bold;
  font-size: 16px;
  padding: 14px;
}

.grid__col--8.theme__colors {
  background-color: #FD9F85;
}

.grid__col--7.theme__colors {
  background-color: #EC9FA3;
}

.grid__col--6.theme__colors {
  background-color: #3FABCA;
}

.grid__col--5.theme__colors {
  background-color: #88D9A0;
}

.grid__col--4.theme__colors {
  background-color: #7EE6FD;
}

.grid__col--3.theme__colors {
  background-color: #DEB2EE;
}

.grid__row .grid__col--12 .card {
  text-align: center;
}

.grid__row .grid__col--12 .card p {
  margin: 50px;
  margin-top: 90px;
  margin-bottom: 50px;
}

.grid__row .grid__col--8 .card h4 {
  font-weight: normal;
  margin-left: 50px;
}

.grid__row .grid__col--8 .card h1 {
  margin-left: 70px;
  margin-right: 70px;
  color: #58E1C1;
  width: 70%;
}

.grid__row .grid__col--8 .card p {
  margin-left: 50px;
  margin-right: 50px;
}

.grid__row .grid__col--8 .card blockquote {
  border-left: 8px solid #58E1C1;
  padding-left: 45px;
  font-size: 32px;
  font-style: italic;
}

.grid__row .grid__col--4 form legend {
  margin: 50px;
}

.grid__col--12.theme__colors {
  background-color: #80E8D1;
}

.grid__row {
  margin-top: 50px;
}

.theme__colors {
  border-radius: 5px;
  margin: 5px;
  margin-left: 50px;
  margin-right: 50px;
  height: 40px;
  padding-top: 10px;
  padding-left: 15px;
}

.nav__item {
  list-style: none;
  list-style-position: inherit;
  width: 85%;
  background-color: #58E1C1;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.nav__item a {
  color: white;
  text-align: center;
  border: 1px solid red;
  width: 50%;
}

.nav {
  margin: 30px;
  padding: 0;
}

.nav__item a {
  font-size: 22px;
  text-decoration: none;
  text-align: center;
  padding-left: 50%;
  padding-right: 50%;
  padding-top: 15px;
  padding-bottom: 12px;
}

/*# sourceMappingURL=application.css.map */
