$default-color: #51DDFC;
$success-color: #58C577;
$error-color: #E4747A;
$warning-color: #FD7756;
$info-color: #927BC1;
$button-font-color: #fff;
// border radius
$border-r: 5px;
$border-color: #9C9C9C;

// Font stacks
$stack-roboto: 'Roboto', sans-serif;

// //Assets Path
$path-img: '../img';

// Media Query Breakpoints
$desktop-media: '(min-width: 769px)';

// Grid Colors
$grid-color-3: #DEB2EE;
$grid-color-4: #7EE6FD
$grid-color-5: #88D9A0
$grid-color-6: #3FABCA;

$grid-color-7: #EC9EA3;

$grid-color-8: #FD9E85;


$grid-color-12: #80E8D1;
