.btn--default{
  background-color: blue;
}

.btn--success{
  background-color: green;
}

.btn--error{
  background-color: red;
}

.btn--warning{
  background-color: orange;
}

.btn--info{
  background-color: purple;
  .theme__colors{
    width: 100%;
  }
}


.theme__colors{
  margin: 1%;
  width: 95%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 5px;

}

// @media only screen and (min-width: 769px){}
// flex-direction: wrap;
