.btn--success{
  background-color: #63CC82;
}

.btn--error{
  background-color: #E4757A;
}

.btn--warning{
  background-color: #FD7856;
}

.btn--info{
  background-color: #927BC1;
}



.grid__row .grid__col--12 button{
  margin-left: 50px;
  margin-right: 50px;
  width: 95%;
}
