.container{
  margin-left: 1px;
  margin-right: 1px;
  color: #B1B1B1;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
}
.grid__row{
  margin-top: 50px;
  margin-right: 50px;


    .grid__col--3{
      &.theme__colors{
        background-color: #DEB2EE;
      }
    }

    .grid__col--4{
      &.theme__colors{
        background-color: #7EE6FD;
      }
    }

    .grid__col--5{
      &.theme__colors{
        background-color: #88D9A0;
      }
    }

    .grid__col--6{
      &.theme__colors{
        background-color: #3FABCA;
      }
    }

    .grid__col--7{
      &.theme__colors{
        background-color: #EC9FA3;
      }
    }

    .grid__col--8{
      &.theme__colors{
        background-color: #FD9F85;
      }
      .card{
        h1{
          margin-left: 70px;
          margin-right: 70px;
          color: #58E1C1;
          width: 70%;
        }
        h4{
          font-weight: normal;
          margin-left: 50px;
        }
        p{
          margin-left: 50px;
          margin-right: 50px;
        }
        blockquote{
          border-left: 8px solid #58E1C1;
          padding-left: 45px;
          font-size: 32px;
          font-style: italic;
        }
      }
    }

    .grid__col--12{
      &.theme__colors{
        background-color: #80E8D1;
      }
      .card{
        text-align: center;
        p{
          margin: 50px;
          margin-top: 90px;
          margin-bottom: 50px;
        }
      }
    }
}


.theme__colors{
  text-align: left;
  height: 40px;
  margin-left: 50px;
  border-radius: 5px;
  margin-bottom: 10px;
  color: gray;
  padding-left: 20px;
  padding-top: 20px;
}
