@mixin flexcolumncenter{
  flex-direction: column;
  justify-content: center;
}

%centerbold{
  text-align: center;
  font-weight: bold;
}
.container{

  margin-left: 10%;
  margin-right: 10%;

}

.grid__row{
  margin-top: 10px;
  margin-bottom: 30px;
  display: flex;
  @include flexcolumncenter;

  // flex-direction: column;
  // justify-content: center;

  align-items: center;
}

// .grid__col--2{}
.grid__col--3{
  width: 100%;

  @extend %centerbold;
  // text-align: center;
  // font-weight: bold;
  &.theme__colors{
  background-color: $grid-color-3;
  }



}
.grid__col--4{
  display: flex;
  @include flexcolumncenter;

  // flex-direction: column;
  // justify-content: center;

  align-items: center;
  width: 100%;
  &.theme__colors{
  background-color: $grid-color-4;
  }
}
.grid__col--5{
  width: 100%;
  @extend %centerbold;
  // text-align: center;
  // font-weight: bold;
  &.theme__colors{
  background-color: $grid-color-5;
  }

}
 .grid__col--6{
   @extend %centerbold;
   // text-align: center;
   // font-weight: bold;
   width: 100%;
    &.theme__colors{
      background-color: $grid-color-6;
    }
}
.grid__col--7{
  width: 100%;

  &.theme__colors{
  background-color: $grid-color-7;
  }
  @extend %centerbold;
  // text-align: center;
  // font-weight: bold;
}
.grid__col--8{
  width: 100%;

  &.theme__colors{
  background-color: $grid-color-8;
  }
}
.grid__col--9{
  width: 100%;

}
// .grid__col--10{}
// .grid__col--11{}
.grid__col--12{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  &.theme__colors{
  background-color: $grid-color-12;
  }
}

.theme__colors{
  @extend %centerbold;
}

@media #{$desktop-media}{
  .container{
    margin-left: 10%;
    margin-right: 10%;

  }

  .grid__row{
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
  }



  .grid__col--4{
    max-width: 35%;
  }

  .grid__col--12{
    flex-direction: row;
    flex-wrap: wrap;
  }

  .grid__col--6{
    max-width: 50%;
  }

  .grid__col--7{
    max-width: 80%;
  }


  .grid__col--8{
    .card{
      max-width: 90%;
    }
  }

  .grid__col--9{
    flex-direction: row;
  }


}
