.img--logo{
  height: 75px;
  max-width: 100%;

}
.img--frame{
  border: 1px solid #9C9C9C;
  padding: 15px;
  max-width: 100%;
}
.img--avatar{
  margin-top: 2%;
  margin-bottom: 1%;
  align-self: center;
  max-width: 100%;
  max-height: 100%;

}

// @media only screen and (min-width: 769px){
//   .img--logo{
//     margin-left: 50px;
//   }
// }
