.img--logo{
  height: 75px;
}
.img--frame{
  border: 1px solid #9C9C9C;
  padding: 15px;
}
.img--avatar{
  align-self: center;
}

// @media only screen and (min-width: 769px){
//   .img--logo{
//     margin-left: 50px;
//   }
// }
