img{
  display: block;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}



#images{
  margin-left: 50px;
  text-align: left;
  font-weight: normal;
}

.img--frame{
  border: 1px solid #959595;
  padding: 15px;
  width: 88%;

}
