.nav{
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
margin-top: 15px;


  .nav__item{
    margin: 8px;
    a{
        text-decoration: none;
        color: #9C9C9C;
    }
    a:hover{
      background-color: #58E1C1;
      color: white;
      padding-left: 50%;
      padding-right: 50%;
      padding-top: 5px;
      padding-bottom: 5px;
      border-radius: 5px;
    }
  }
}

@media #{$desktop-media}{
  .nav{
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 35px;

    .nav__item{
      margin-left: 25px;
      margin-right: 25px;

      a:hover{
        background-color: #58E1C1;
        color: white;
        padding: 5px;
        border-radius: 5px;
      }

    }
  }
}
