.nav__item{
  list-style: none;
  list-style-position: inherit;
  width: 85%;
  background-color: #58E1C1;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom:5px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;

}

.nav__item a{
  color: white;
  text-align: center;
  border: 1px solid red;
  width: 50%;
}

.nav{
  margin: 30px;
  padding: 0;
}

.nav__item a{
  font-size: 22px;
  text-decoration: none;
  text-align: center;
  padding-left: 50%;
  padding-right: 50%;
  padding-top: 15px;
  padding-bottom: 12px;
}
