@mixin flex($dir, $just, $items: null){
  display: flex;
  flex-direction: $dir;
  justify-content: $just;
  align-items: $items;
}

.nav{
@include flex(column, center);
text-align: center;
margin-top: 15px;


  .nav__item{
    margin: 8px;
    a{
        text-decoration: none;
        color: $default-font;
    }
    a:hover{
      background-color: $grid-color-12;
      color: white;
      padding-left: 50%;
      padding-right: 50%;
      padding-top: 5px;
      padding-bottom: 5px;
      border-radius: 5px;
    }
  }
}

@media #{$desktop-media}{
  .nav{
  @include flex(row, center, center);
  margin-top: 35px;
  margin-bottom: 35px;

    .nav__item{
      margin-left: 25px;
      margin-right: 25px;

      a:hover{
        background-color: #58E1C1;
        color: white;
        padding: 5px;
        border-radius: 5px;
      }

    }
  }
}
