h4{
  margin: 50px;
  font-weight: normal;
}


a{
  text-decoration: none;
  color: #51DDFC;
  font-weight: bold;
}


input{
  display: block;
  width: 95%;
  border-bottom: 3px solid #58E1C1;
  box-shadow: none;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 25px;
  margin-left:50px;
  margin-bottom:10px;
}

label{
  visibility: hidden;
}
input:focus{
  outline: none;
  box-shadow: none;

}


button{
  width: 95%;
  background-color: #51DDFC;
  border: none;
  border-radius: 5px;
  height: 40px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
